
<% layout("/layouts/boilerplate")    %>

<div class="alert alert-danger" role="alert">
    A simple danger alert—check it out!
    <p><%= err.message %></p>
    <p><%= err.stack %></p>
    

  </div>